<div class="sidebar-wrap sidebar-about">
  <div class="about-img">
    <img src="http://q67bf0oit.bkt.clouddn.com/blog/photo.jpeg" class="rounded-circle">
  </div>
  <h4 class="py-2">抠腚Coding笔记</h4>
  <p class="about-text">我是一名在上海工作的微服务开发工程师，目前就职于 <a href="https://www.daocloud.io/" target="_blank">DaoCloud</a></p>
  <p class="about-text"><font color="red">🤘</font></p>
  <img src="http://q67bf0oit.bkt.clouddn.com/qrcode_for_gh_8584a820cd93_258.jpg" alt="">
  <p class="about-text"><font color="red">扫码关注后，和6W+开发者一起成长！</font></p>
  <p class="about-text" align="left">除了公众号之外，我还会在以下平台发布内容：</p>
  <hr>
  <ul class="list-inline text-center footer-links">
              <li>
                <a href="https://www.zhihu.com/people/wu-tang-60-10" title="知乎" target="_blank">
                  <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-zhihu fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>

              <li>
                <a href="https://me.csdn.net/qq_24267619" title="csdn" target="_blank">
	                <span class="fa-stack fa-1x">
		                <i class="fa fa-csdn"></i>
		              </span>
		            </a>
              </li>
            
            <li>
              <a href="https://www.jianshu.com/u/775762b4c4dd" title="简书" target="_blank">
                <span class="fa-stack fa-1x">
                  <i class="fa fa-jianshu"></i>
                </span>
              </a>
            </li>

            <li>
              <a href="https://segmentfault.com/u/jaredtan95/articles" title="思否" target="_blank">
                <span class="fa-stack fa-1x">
                  <i class="fa fa-segmentfault"></i>
                </span>
              </a>
            </li>
  </ul>
</div>
