<div class="sidebar-block">
  <h4 class="sidebar-title">友情链接</h4>
  <div class="frienddiv">
    <div class="frienddivleft">
      <img class="myfriend" src="http://www.iocoder.cn/images/favicon.ico">
    </div>
    <div class="frienddivright">
      <a target="_blank" href="http://www.iocoder.cn" title="芋道源码" class="friendurl">芋道源码<br><span class="link-description">纯源码解析博客</span></a>
    </div>
  </div>

  <div class="frienddiv">
    <div class="frienddivleft">
      <img class="myfriend" src="http://www.kailing.pub/favicon.ico">
    </div>
    <div class="frienddivright">
      <a target="_blank" href="http://www.kailing.pub/" title="KL博客" class="friendurl">KL博客<br><span class="link-description">KL, 每天进步一点点</span></a>
    </div>
  </div>
</div>
